<div class="container">
  <div class="mat-card-title">
    <h1>Upload your NID photograph</h1>
  </div>
  <h3 style="color: var(--medium-blue);">NID photograph (front)</h3>

  <input type="file" #fileUpload class="file-input" [accept]="requiredFileType" (change)="onFrontCoverSelected($event)"
    style="display: none;" />

  <div class="mb-2">

    <span [ngClass]="fileNameFrontCover? 'mat-text-success' : 'mat-text-danger'">
      {{ fileNameFrontCover || 'No file uploaded yet.' }}
    </span>

  </div>
  <div class="file-preview" *ngIf="frontCoverFilePreview && !isFrontCoverSelected">
    <img [src]="frontCoverFilePreview" alt="Front Cover">
  </div>
  <br>
  <div class="mb-2" *ngIf="isFrontCoverSelected ">
    <button mat-raised-button (click)="fileUpload.click()">
      <mat-icon>attach_file</mat-icon> Select
    </button>
    </div>
    <div class="mb-2" *ngIf="!isFrontCoverSelected">
      <button mat-raised-button (click)="submitFrontCover()" [disabled]="isFrontCoverSelected">
        <mat-icon>cloud_upload</mat-icon> Upload
      </button>
      <input type="file" #fileUpload style="display: none;" (change)="onFrontCoverSelected($event)">
      <button mat-raised-button (click)="cancelFrontCover()">
        <mat-icon style="color: #f2f2f2;">delete</mat-icon> Cancel
      </button>
    </div>


  <br>
  <h3 style="color: var(--medium-blue);">NID photograph (back)</h3>
  <input type="file" class="file-input" [accept]="requiredFileType" (change)="onBackCoverPhotoSelected($event)"
    #file2Upload style="display: none;" />

  <div class="mb-2">
    <span [ngClass]="  fileNameBackCover? 'mat-text-success' : 'mat-text-danger'">
      {{ fileNameBackCover|| 'No file uploaded yet.' }}
    </span>

  </div>
  <div class="file-preview" *ngIf="backCoverFilePreview && !isBackCoverSelected">
    <img [src]="backCoverFilePreview" alt="Back Cover">

  </div>
  <br>
  <div class="mb-2" *ngIf="isBackCoverSelected">
    <button mat-raised-button (click)="file2Upload.click()">
      <mat-icon>attach_file</mat-icon> Select
    </button>
  </div>
  <div class="mb-2" *ngIf="!isBackCoverSelected">
    <button mat-raised-button (click)="submitBackCover()" [disabled]="isBackCoverSelected">
      <mat-icon>cloud_upload</mat-icon> Upload
    </button>
    <input type="file" #file2Upload style="display: none;" (change)="onBackCoverPhotoSelected($event)">
    <button mat-raised-button (click)="cancelBackCover()">
      <mat-icon style="color: #f2f2f2;">delete</mat-icon> Cancel
    </button>
  </div>
  <br>
  <div class="mt-3">
    <h3>NID photo requirements:</h3>
    <ul>
      <li class="mat-body-3">The image should be clear and legible.</li>
      <li class="mat-body-3">The size of the photograph should not exceed <b>1MB</b>.</li>
      <li class="mat-body-3">Only <i>.jpeg</i>, <i>.jpg</i>, and <i>.png</i> format images are supported.</li>
    </ul>
  </div>
</div>