.mat-stepper-horizontal {
    margin-top: 8px;
    font-family: 'Open Sans', sans-serif;
  }
  
  .mat-mdc-form-field {
    margin-top: 16px;
  }
  .mat-stepper-horizontal button{
    margin-top: 16px;
    margin-right: 8px;
    background-color:#0d6ba6 ;
    color: #f2f2f2;
  }
.stepper-button{
  margin-left: 20px;
}

