<!-- <div class="login-form-container">
    <div class="title" mat-dialog-title>
        <div class="close-icon-button-container">
            <button class="close-icon-button" mat-icon-button (click)="closepopup()"> <mat-icon>close</mat-icon></button>
        </div>
        <h2 class="center-content">Log in</h2>
    </div>
    <div mat-dialog-content class = "center-content">
    <div class="login-form-container">
        <form [formGroup]="loginForm">
            <mat-form-field appearance="outline">
                <mat-label>Username/Email</mat-label>
                <input matInput type="text" placeholder="Username/Email" formControlName="email" />
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Password</mat-label>
                <input matInput type="password" placeholder="Password" formControlName ="password" (keydown.enter)="login()"/>
            </mat-form-field>
        </form>
    </div>
    <div class="mb-2"><button mat-raised-button (click)="login()">Login</button></div>
    <br>
    <div class="login-error" *ngIf="showErrormessage"> User credentials did not match!</div>
    <div class="para">
        <h4>Don't have an account?</h4>  
        <cite (click)="register()"><u>Register here.</u></cite>
    </div>
    <div class="para">
        <h4>Haven't Verified email?</h4>  
        <cite (click)="verifyEmail()"><u>Verify Here.</u></cite>
    </div> -->
    <!-- </div>
    
    <div mat-dialog-actions class="custom-dialog-actions"></div>
</div> --> 