<div class="containerr">
  <h1>
    Set your password
  </h1>
  <form [formGroup]="passwordForm" (ngSubmit)="onSubmit()">
  <mat-form-field appearance="outline">
      <input matInput type="password" 
      placeholder="Password" 
      formControlName="password"
      />
      <mat-error *ngIf="passwordForm.get('password')?.hasError('passwordValidity')&&passwordForm.get('password')?.touched">
        Password must contain at least 8 characters with combination of letter, number and symbol.
      </mat-error>
    </mat-form-field>
    <br>
    <mat-form-field appearance="outline">
      <input matInput type="password" placeholder="Confirm password" formControlName ="confirmPassword" (keydown.enter)="onSubmit()"/>
    </mat-form-field>
    <br>
  </form>
</div>