.mat-mdc-form-field {
    margin-top: 16px;
    margin-right: 5px;
    margin-left:5px;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    width: 30%;
    padding:10 px;
  }
  h1{
    font-weight: bold;
    font-size: 24pt;
    color: #155fbf;
  }
  .mb-2 button{
    color: #f2f2f2; 
    background-color: #0d6ba6;
  }
  .containerr{
    margin-left: 20px;
  }
  .mat-mdc-form-field-error{
   size: 10px; 
  }