<marquee [scrollAmount]="'10'"><h3 style="color: red;">Dohatec-CA Online Registration Website In Progress</h3></marquee>
<br>
<div class="box">
    <h2 style="color: #007BFF; margin-left:20px">Why Use Digital Certificates?</h2>
<div class="presentation">
    <div class="point">
        <b>Trustworthy Websites:</b>
        <p>Digital certificates verify the authenticity of websites, ensuring you're not on a fake or dangerous site.</p>
    </div>

    <div class="point">
        <b>Privacy Protection:</b>
        <p>They safeguard your online conversations and transactions by encrypting your data, making it private and secure.</p>
    </div>

    <div class="point">
        <b>Reliability Assurance:</b>
        <p>Certificates provide a seal of approval from trusted authorities, helping you confidently interact with reputable online services.</p>
    </div>
    
    
</div>
    
</div>



    
